<body>
    
<div class="footer">
    <div class="foot">
        <div class="left">
            <p>A BUILDER UTOPIA</p>
            <h1>A home built for builders by builders</h1>
        </div>
        <div class="right">
            <p>Become an A.Teamer and belong to a team-driven network of world-class developers, product managers, designers, marketers, data scientists, and senior operators — pursuing their craft with autonomy.</p>
        </div>
    </div>
    <div class="last">
        © 2023 Team Inc., All rights reserved.Terms of Service|Privacy Policy
    </div>
</div>    
</body>
</html>