<%- include("header");  -%>

<div class="main">
    <div class="main-box">
        <div class="first">Work</div>
        <div class="sec">
            <div class="a ">on what</div>
           
        </div>
        <div class="third">You Want !</div>
        <div class="text">
            Where the best products builders in the world team up to do the most ambitious work of their careers.
        </div>

        <a href="/form"><button class="btnn btn-join" > Join Us </button></a> 
    </div>
</div>


<%- include("footer");  -%>